/* Estilo login */
* {
    transition: all 0.3s ease; /* Aplica una transición suave a todos los cambios de propiedad */
    font-family: "Staatliches", sans-serif; /* Establece la fuente predeterminada para todos los elementos */
    font-weight: 400; /* Peso de la fuente normal para un aspecto uniforme */
    font-style: normal; /* Estilo de fuente normal, sin cursivas */
}

body {
    background: url('./IMG/fondolegal.jpg') no-repeat center center fixed;
    /* Establece una imagen de fondo con posición centrada, sin repetición y fijada */
    background-size: cover;
    /* Hace que la imagen de fondo cubra toda la ventana gráfica */
    display: flex;
    /* Aplica un modelo de caja flex al cuerpo */
    justify-content: center;
    /* Centra el contenido horizontalmente */
    align-items: center;
    /* Centra el contenido verticalmente */
    height: 100vh;
    /* Establece la altura del cuerpo al 100% de la altura de la ventana gráfica */
    color: white;
    /* Establece el color del texto a blanco */
    overflow: hidden;
    /* Oculta cualquier contenido que se desborde del cuerpo */
    font-size: 20px;
    /* Establece el tamaño de fuente base a 20 píxeles */
}

.formulario {
    background-color: #381b1ba6;
    /* Establece el color de fondo del formulario con un valor RGBA semitransparente */
    border-radius: 15px;
    /* Aplica un radio de borde de 15 píxeles para esquinas redondeadas */
    border: 1px solid rgba(255, 255, 255, 0.18);
    /* Establece un borde sólido de 1 píxel con color blanco semitransparente */
    padding: 20px;
    /* Aplica un relleno de 20 píxeles dentro del contenedor del formulario */
    width: 400px;
    /* Establece el ancho del formulario a 400 píxeles */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    /* Aplica una sombra a la caja del formulario */
    backdrop-filter: blur(10px);
    /* Aplica un filtro de desenfoque al fondo del formulario */
    -webkit-backdrop-filter: blur(10px);
    /* Aplica un filtro de desenfoque al fondo del formulario en navegadores WebKit */
}

.formulario input {
    width: 90%;
    /* Establece el ancho de los inputs al 90% del contenedor */
    padding: 10px;
    /* Aplica un relleno de 10 píxeles dentro de los inputs */
    margin-bottom: 10px;
    /* Aplica un margen inferior de 10 píxeles a los inputs */
    border: none;
    /* Elimina el borde de los inputs */
    border-radius: 5px;
    /* Aplica un radio de borde de 5 píxeles para esquinas redondeadas */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* Establece la familia de fuentes para los inputs */
    font-size: 20px;
    /* Establece el tamaño de fuente de los inputs a 20 píxeles */
}

.formulario input[type="submit"],
.formulario button {
    width: calc(50% - 5px);
    /* Establece el ancho de los botones y el input submit al 50% menos 5 píxeles */
    margin: 5px;
    /* Aplica un margen de 5 píxeles alrededor de los botones y el input submit */
    padding: 10px;
    /* Aplica un relleno de 10 píxeles dentro de los botones y el input submit */
    border: none;
    /* Elimina el borde de los botones y el input submit */
    border-radius: 5px;
    /* Aplica un radio de borde de 5 píxeles para esquinas redondeadas */
    background-color: rgba(255, 255, 255, 0.6);
    /* Establece el color de fondo de los botones y el input submit a blanco semitransparente */
    cursor: pointer;
    /* Cambia el cursor a un puntero cuando se pasa sobre los botones y el input submit */
    transition: background-color 0.3s;
    /* Añade una transición de 0.3 segundos para el cambio de color de fondo */
}

.formulario input[type="submit"]:hover,
.formulario button:hover {
    background-color: rgba(255, 255, 255, 0.8);
    /* Cambia el color de fondo a un blanco más opaco cuando se pasa el cursor sobre los botones y el input submit */
}

