<!DOCTYPE html>
<html lang="en">
<!-- Declara el tipo de documento como HTML5 y establece el idioma como inglés -->
<head>
    <meta charset="UTF-8">
    <!-- Define la codificación de caracteres como UTF-8 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Configura la ventana gráfica para que se ajuste a la anchura del dispositivo y establece un nivel de zoom inicial de 1.0 -->
    <title>Inicio de Sesión Exitoso</title>
    <!-- Título de la página que aparecerá en la pestaña del navegador -->
    <link rel="stylesheet" href="style.css">
    <!-- Enlaza la hoja de estilos CSS externa -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <!-- Preconecta con Google Fonts para optimizar la carga de las fuentes -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- Permite el uso de fuentes de Google Fonts con CORS (Cross-Origin Resource Sharing) -->
    <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
    <!-- Importa la fuente 'Staatliches' desde Google Fonts -->
</head>
<body>
    <!-- Cuerpo del documento -->
    <div class="container success">
        <!-- Contenedor principal con clase 'success' para estilos específicos -->
        <h1>Ingresaste Correctamente!</h1>
        <!-- Mensaje de éxito -->
        <button onclick="location.href='./index.html'">Volver al Login</button>
        <!-- Botón que redirige a 'index.html' al hacer clic -->
    </div>
</body>
</html>

